.header{
    position: fixed;
    width: calc(100% - 260px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    background-color: #343541;
    &__version{
        h1{
            font-size: 20px;
            letter-spacing: -1px;
            span{
                color: #d4d4d4;
                font-size: 20px;
            }
        }
    }
    &__share{
        border: 1px solid #d4d4d4;
        width: 36px;
        height: 36px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img{
            width: 18px;
            height: 18px;
        }
        &:hover{
            background-color: #40414f;
            opacity: 0.5;
        }
    }
}